body {
  background-color: lightcoral;
  background-attachment: fixed;
  line-height: inherit;
  font-size: inherit;
  list-style-image: inherit;
  word-wrap: none;
  word-break: inherit;
  word-spacing: inherit;
}
