body {
  background-color: khaki;
  width: 20px;
  height: 20px;
  line-break: inherit;
  word-wrap: none;
  text-align: center;
  font-size: 18px;
  word-wrap: break-word;
  word-spacing: 3px;
  line-height: 1.6;
  font-weight: lighter;
}

.header {
  background-color: khaki;
  word-wrap: none;
  width: 100px;
  height: 50px;
  text-emphasis: none;
  text-align: center;
}
.topnav {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}