body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 17px;
  word-wrap: break-word;
  word-spacing: 3px;
  line-height: 1.6;
}
.header {
  background-color: #e2cfb6;
  width: 100%;
  height: 40px;
  font-family: poppins-extralight;
}
.header img {
  border-radius: 50%;
}
.topnav {
  
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.topnav a {
  color:black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.body {
  background-color: white;
  width: 100%;
  height: 500px;
  margin-top: 30%;
  padding-bottom: 25x;
  }
.body img {
  width:1250px;
  height: 500px;
  position: absolute;
  left: 0%;
  object-fit: fill;
  padding-left: 5px;
}
.column {
  width: 30%;
  padding-top: 10px;
  display: inline-block;
}
.row::after {
  content: "";
  clear: both;
  display: inline-block;
}
.column1 {
  float: left;
  width: 50%;
  padding-bottom: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 a {
  text-decoration: none;
  color: black;
}
.footer {
  background-color: #e2cfb6;
  width: 100%;
  height: 20px;
  margin-bottom: 30px;
}
.clear-fix{
  content: " ";
  display: table;
  height: 0;
  clear: both;
}